<div id="map" data-role="view"
     data-title="Pedidos"
     data-init="app.locationService.initLocation"
     data-show="app.locationService.show"
     data-hide="app.locationService.hide"
     data-model="app.locationService.viewModel"
     data-stretch="true">

    <div id="map-canvas" class="map" data-bind="visible: isGoogleMapsInitialized"></div>

    <div id="no-map" data-bind="invisible: isGoogleMapsInitialized">
        <h3>Location requires internet connection to display the map.</h3>
    </div>
    <div id="map-search-wrap" class="map-tools" data-bind="visible: isGoogleMapsInitialized, invisible: hideSearch">
        <div>
            <button id="map-navigate-home" class="map-tools-button home" data-bind="click: onNavigateHome"></button>
            <input id="map-address" type="search" class="map-tools-input" data-bind="value: address" placeholder="Address" />
            <button id="map-search" class="map-tools-button search" data-bind="click: onSearchAddress"></button>
        </div>
    </div>
    
</div>
