.cf {
    zoom: 1;
}

.cf:before,
.cf:after {
    display: table;
    content: '';
}

.cf:after {
    clear: both;
}

.km-flat .km-loader,
.km-flat .km-rowinsert,
.km-flat .km-state-active,
.km-flat .km-scroller-pull,
.km-flat .k-slider-selection,
.km-flat .km-touch-scrollbar,
.km-flat .km-pages .km-current-page,
.km-flat .k-slider .k-draghandle,
.km-flat .k-slider .k-draghandle:hover,
.km-flat .km-tabstrip .km-state-active,
.km-flat .km-scroller-refresh.km-load-more,
.km-flat .km-popup .k-state-hover,
.km-flat .km-popup .k-state-focused,
.km-flat .km-popup .k-state-selected,
.km-flat .km-actionsheet > li > a:active,
.km-flat .km-actionsheet > li > a:hover,
.km-flat li.km-state-active .km-listview-link,
.km-flat li.km-state-active .km-listview-label,
.km-flat .km-listview-label input[type=radio]:checked,
.km-flat .km-listview-label input[type=checkbox]:checked {
    background: #3598db;
}

#friendsApp.km-flat,
#friendsApp.km-flat .km-navbar,
#friendsApp.km-flat .km-content {
    border: 0 none;
    background-color: #2d3e50;
    color: #fff;
    font-family: "Open Sans", sans-serif;
}

#friendsApp .center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#friendsApp .hide-text {
    overflow: hidden;
    text-indent: -999px;
}

#friendsApp .center-text {
    text-align: center;
}

.disabled {
    position: relative;
    display: block;
}

.disabled:before {
    position: absolute;
    top: 0;
    right: -1px;
    bottom: 0;
    left: -1px;
    z-index: 1;
    content: '';
}

/* Forms */

::-webkit-input-placeholder {
    color: #b6c5c6;
}

:-moz-placeholder {
    color: #b6c5c6;
}

::-moz-placeholder {
    color: #b6c5c6;
}

:-ms-input-placeholder {
    color: #b6c5c6;
}

#friendsApp.km-flat form .km-list > li {
    padding: .7em .7em .5em;
    border-color: #eaeced;
}

#friendsApp.km-flat form .km-listinset > li:first-child,
#friendsApp.km-flat form .km-listgroupinset .km-list > li:first-child {
    border-width: 0 0 1px;
    border-color: #eaeced;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
}

#friendsApp.km-flat form .km-listinset > li:last-child,
#friendsApp.km-flat form .km-listgroupinset .km-list > li:last-child {
    border: 0 none;
    -webkit-border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
}

#friendsApp.km-flat .km-list input[type="text"]:not(.k-input),
#friendsApp.km-flat .km-list input[type="password"],
#friendsApp.km-flat .km-list input[type="email"],
#friendsApp.km-flat .km-list input[type="date"],
#friendsApp.km-flat textarea,
#friendsApp.km-flat select {
    position: static;
    width: 100%;
    height: 30px;
    font-size: 1rem;
}

#friendsApp.km-flat select {
    padding: .4em .2em;
}

/* Buttons */

#friendsApp .btn {
    position: relative;
    margin: 0 -1px;
    padding: .6em 0;
    border: 0 none;
    background-color: #3598db;
    font-size: 1.2rem;
}

#friendsApp .disabled .btn {
    opacity: .35;
}

#friendsApp .btn-login,
#friendsApp .signup-view .btn-signup {
    background-color: #1bbc9b;
}

#friendsApp .signup-view .btn-signup,
#friendsApp .btn-delete {
    display: block;
    text-align: center;
}

#friendsApp .btn-delete {
    background-color: #e84c3d;
}

#friendsApp .oauth-item .btn {
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

#friendsApp .btn-login-fb {
    background-image: url(images/icon-facebook.png);
}

#friendsApp .btn-login-google {
    background-image: url(images/icon-google.png);
}

#friendsApp .btn-login-liveid {
    background-image: url(images/icon-liveid.png);
}

#friendsApp .btn-login-adsf {
    background-image: url(images/icon-adsf.png);
}

#friendsApp .km-header .nav-button {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 2em;
    height: 2em;
    border: 0 none;
    background-color: transparent;
    background-position: 0 50%;
    background-repeat: no-repeat;
}

#friendsApp .km-header .nav-button-back {
    background-image: url(images/icon-arrow_left.png);
    background-position: .65em 50%;
}

#friendsApp .km-header .nav-button-add {
    background-image: url(images/icon-add.png);
}

#friendsApp .km-header .nav-button-cancel,
#friendsApp .km-header .nav-button-post {
    width: auto;
    height: 2.5em;
    font-size: .85rem;
    line-height: 2.5em;
}

/* App Header */

#friendsApp.km-flat.km-on-ios.km-black-translucent-status-bar .km-header {
    min-height: 20px;
    background-color: #2d3e50;
}

#friendsApp.km-flat .km-header .km-navbar {
    min-height: 3.15em;
}

#friendsApp.km-flat.km-on-ios.km-black-translucent-status-bar .km-header .km-navbar {
    min-height: 4.5em;
}

#friendsApp.km-flat .km-header .km-view-title {
    margin-top: .4em;
    font-size: 1rem;
}

#friendsApp.km-flat.km-on-ios.km-black-translucent-status-bar .km-header .km-view-title {
  margin-top: .4em;
}

/* App Footer */

#friendsApp .welcome-scrn .km-footer {
    background-color: transparent;
    color: #fff;
    text-align: center;
}

#friendsApp .welcome-scrn .km-footer p {
    font-size: .75rem;
}

/* Welcome screen */

#friendsApp .app-logo,
#friendsApp .app-name {
    margin-top: 1.5em;
}

#friendsApp .app-logo {
    background: transparent url(images/logo-flash-2x.png) no-repeat 0 0;
    margin-left: 40px;
    height: 120px;
    background-size: 247px 112px;
}

#friendsApp .app-name {
    margin-bottom: 1.5em;
}

#friendsApp .app-name small {
    display: block;
    font-weight: 400;
    font-size: 1.15rem;
}

#login-form .username,
#login-form .password {
    position: relative;
}

#login-form .username:before,
#login-form .password:before {
    position: absolute;
    top: 50%;
    right: .75em;
    display: block;
    margin-top: -.5em;
    width: 1em;
    height: 1em;
    background-color: transparent;
    background-position: 0 0;
    background-repeat: no-repeat;
    content: '';
}

#login-form .username:before {
    background-image: url(images/icon-username.png);
}

#login-form .password:before {
    background-image: url(images/icon-password.png);
}

#friendsApp .welcome-scrn .group-wrp {
    margin: -1em 1em 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#friendsApp .welcome-scrn .group-wrp li {
  margin: 1.5em 0 0;
}

#friendsApp .welcome-scrn .group-wrp .btn {
    display: block;
}

#friendsApp .welcome-scrn .group-wrp .oauth {
    margin-right: -1%;
    margin-left: -1%;
}

#friendsApp .welcome-scrn .group-wrp .oauth .oauth-item {
    float: left;
    margin: 0 1%;
    width: 23%;
}

#friendsApp .welcome-scrn .group-wrp .oauth .btn {
    overflow: hidden;
    height: 45px;
    text-indent: -999px;
}

#friendsApp .welcome-scrn .group-wrp .oauth .btn span,
#friendsApp .welcome-scrn .group-wrp .btn-signup span {
    font-weight: 500;
    font-size: 1rem;
}

#friendsApp .welcome-scrn .group-wrp .btn-signup {
    border: 0 none;
    background-color: transparent;
}

/* No API Key screen */

#friendsApp .noapikey-scrn p {
    line-height: 1.5;
    color: #e4e4e4;
}

#friendsApp .noapikey-scrn p strong,
#friendsApp .noapikey-scrn p span {
    color: #fff;
}

#friendsApp .noapikey-scrn p span {
    font-weight: 600;
}

/* Signup */

#friendsApp .signup-view .select-wrp {
    -webkit-border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
}

#friendsApp.km-flat .signup-view .km-listinset > li:last-child {
    margin: .5em 0 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#friendsApp .txtarea-wrp textarea {
    float: none;
    height: 5.5em;
    resize: none;
}

#friendsApp .signup-view .signup-btn-wrp {
    margin: 0 1em;
}

#friendsApp .signup-view .select-wrp select {
    color: #b6c5c6;
}

#friendsApp .signup-view .select-wrp option:first-child {
    color: #b6c5c6;
}

/* Map */

#friendsApp .map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#friendsApp .map-tools {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.85);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#friendsApp .map-tools > div {
    position: relative;
    text-align: center;
    height: 100%;
}
#friendsApp .map-tools .map-tools-button {
    position: absolute;
    top: 0;
    width: 60px;
    height: 100%;
    color: #fff;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    background-position: center center;
    background-repeat: no-repeat;
}
#friendsApp .map-tools .map-tools-button:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
}
#friendsApp .map-tools .map-tools-button.home {
    left: 0;
}
#friendsApp .map-tools .map-tools-button.search {
    right: 0;
}
#friendsApp .map-tools .map-tools-button.home:before { background-image: url(../styles/images/location.png); }
#friendsApp .map-tools .map-tools-button.home:active:before { background-image: url(../styles/images/location_active.png); }
#friendsApp .map-tools .map-tools-button.search:before { background-image: url(../styles/images/search.png); }
#friendsApp .map-tools .map-tools-button.search:active:before { background-image: url(../styles/images/search_active.png); }

#friendsApp .map-tools input[type=search].map-tools-input {
    height: 100%;
    width: 65%;
    margin: 1em 0;
    padding: 0.5em 1em;
}
#friendsApp .km-wp .map-tools input[type=search].map-tools-input {
    width: 50%;
}


#friendsApp .map-solicitud {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;    
}
#friendsApp .map-solicitud > div {
    position: relative;
    text-align: center;
    height: 100%;
}
#friendsApp .map-solicitud .map-solicitud-button {
    margin: 30px 0px 30px 0px;  
    bottom: 20px;
    width: 100%;
    text-align: center;
}

/* Retina Images */

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 144dpi) {

    #friendsApp .app-logo {
        background-image: url(images/logo-flash-2x.png);
        background-size: 247px 112px;
    }

    #login-form .username:before {
        background-image: url(images/icon-username@2x.png);
        background-size: 12px 13px;
    }

    #login-form .password:before {
        background-image: url(images/icon-password@2x.png);
        background-size: 10px 12px;
    }

    #friendsApp .btn-login-fb {
        background-image: url(images/icon-facebook@2x.png);
        background-size: 11px 18px;
    }

    #friendsApp .btn-login-google {
        background-image: url(images/icon-google@2x.png);
        background-size: 20px 20px;
    }

    #friendsApp .btn-login-liveid {
        background-image: url(images/icon-liveid@2x.png);
        background-size: 22px 20px;
    }

    #friendsApp .btn-login-adsf {
        background-image: url(images/icon-adsf@2x.png);
        background-size: 21px 20px;
    }

    #friendsApp .km-header .nav-button-back {
        background-image: url(images/icon-arrow_left@2x.png);
        background-size: 9px 20px;
    }

    #friendsApp .km-header .nav-button-add {
        background-image: url(images/icon-add@2x.png);
        background-size: 23px 23px;
    }
}

